<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Welcome to Admin Dashboard</h2>
    <p><b>Login Email</b> - <%=email %>
    </p>
    <button><a href="/register">Add User</a></button>
    <button><a href="/userRegisterAdmin">Add Admin</a></button>
    <button><a href="/add-movie">Add Movie</a></button>
    <button><a href="/view-movies">View Movie</a></button>
    <p><a href="/logout">Logout</a></p>
</body>

</html>